td.fc-sun {
  background-color: #ffeaea;
}

td.fc-mon {
  background-color: #ffffff;
}

td.fc-tue {
  background-color: #ffffff;
}

td.fc-wed {
  background-color: #ffffff;
}

td.fc-thu {
  background-color: #ffffff;
}

td.fc-fri {
  background-color: #ffffff;
}

td.fc-sat {
  background-color: #eaf4ff;
}
